<ion-view title="" hide-back-button="true" id="page5" class="allpatientsPage">
    <ion-content padding="true" class="manual-ios-statusbar-padding has-footer">
        <form class="list">
            <label class="item item-input" name="txtSearch">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
        </form>
        <form class="list">
            <ion-item class="item-thumbnail-left" ui-sref="veiwPatient">
                <img src="img/unknown.png">
                <h2>Ali Mohammd</h2>
                <p></p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="veiwPatient">
                <img src="img/unknown.png">
                <h2>Alaa Ali Mohammd</h2>
                <p></p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="veiwPatient">
                <img src="img/unknown.png">
                <h2>Saad Hassan</h2>
                <p></p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="veiwPatient">
                <img src="img/unknown.png">
                <h2>Ahmed Mohammed</h2>
                <p></p>
            </ion-item>
        </form>
        <div class="spacer2"></div>
    </ion-content>

    <ion-footer-bar class="bar-positive">
        <div class="button-bar">
            <button ui-sref="patient" id="allPatients-button13" class="button button-clear button-icon ion-plus-round">
                <span>&nbsp;New Patient</span>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
