<div id="smsloader.html" type="text/ng-template" class="smsLoader">
    <div class="padding">
        <h3>Waiting for SMS on</h3>
        <h4>{{phoneNumber}}</h4> 
        <div class="padding">
            <ion-spinner class="spinner-positive"></ion-spinner>
        </div>
        <div class="text-center">
            <span class="text-left">
                <a ui-sref="doctorProfile">Edit Number</a>
            </span>|
            <span class="text-right">
                <a ui-sref="doctorProfile">Help</a>
            </span>
        </div>
    </div>
</div>